/* Universal Orange Button */
.btn-orange {
  width: 300px;
  height: 50px;
  background: var(--orange);
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Oxanium", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.btn-orange:hover, .btn-orange:focus {
  background: transparent;
  color: var(--orange);
  border: 2px solid var(--orange);
  outline: none;
}

.btn-black {
  width: 300px;
  height: 50px;
  background: var(--black);
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Oxanium", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.btn-black:hover, .btn-orange:focus {
  background: transparent;
  color: var(--black);
  border: 2px solid var(--black);
  outline: none;
}
@media (max-width: 900px) {
  .btn-orange {
    width: 100%;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
  }
  .btn-black {
    width: 100%;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
  }
}