/* main.css: CSS Variables and base layout for Concept Labs */

:root {
  /* Color variables */
  --black: #231F20;
  --orange: #EF4D25;
  --fade-white: #F3F1F1;
  --dirty-grey: #ACACA8;
  --white: #fff;

  /* Font variables */
  --main-font: 'Oxanium', 'Segoe UI', Arial, sans-serif;
  --header-font: 'Oxanium', 'Montserrat', 'Segoe UI', Arial, sans-serif;

  /* line spacing */
  --line-spacing-top: 40px;
  --line-spacing-bottom: 75px;
}

.container {
  margin: 100px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--main-font);
}

header {
  background-color: var(--header-bg);
  font-family: var(--header-font);
}
